<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form>
        <input type="text" id="message" placeholder="메시지를 입력하세요">
        <button id="send" type="submit">Send</button>
    </form>
    <div id="conversation">
        <h1>Chat</h1>
        <div id="chatting"></div>
    </div>
</body>

<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/axios/0.17.1/dist/axios.min.js"></script>
<script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>
<script th:inline="javascript">
    let stompClient = null;
    let roomId = [[${roomId}]];
    let chatList = [[${chatList}]];
    let username = [[${username}]]

    function setConnected(connected) {
        if (connected) {
            $("#conversation").show();
        }
        else {
            $("#conversation").hide();
        }
        $("#chatting").html("");
    }

    function connect() {
        let socket = new SockJS('/ws-stomp');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
            setConnected(true);
            console.log('Connected: ' + frame);
            loadChat(chatList);

            stompClient.subscribe('/topic/chat/room/' + roomId, function (chatMessage) {
                showChat(JSON.parse(chatMessage.body));
            });
        });
    }

    function disconnect() {
        if (stompClient !== null) {
            stompClient.disconnect();
        }
        setConnected(false);
    }

    function sendChat() {
        stompClient.send("/app/chat/room/"+roomId, {},
            JSON.stringify({
                'sender': username,
                'message' : $("#message").val()
            }));

        $("#message").val("");
    }

    function loadChat(chatList){
        if(chatList != null) {
            for(chat in chatList) {
                $("#chatting").append(
                    "<div>" + "[" + chatList[chat].sender + "]" + chatList[chat].message + "</div>"
                );
            }
        }
    }

    function showChat(chatMessage) {
        $("#chatting").append(
            "<div>" + "[" + chatMessage.sender + "]" + chatMessage.message + "</div>"
        );
    }

    $(function () {
        $("form").on('submit', function (e) {
            e.preventDefault();
        });
        $( "#send" ).click(function() { sendChat(); });
    });
</script>
<script>
    window.onload = function (){
        connect();
    }

    window.BeforeUnloadEvent = function (){
        disconnect();
    }
</script>

</html>