<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<haed>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</haed>


<body>
<div th:replace="fragments/header.html::header"></div>
<div class="container">

    <form action="" role="form" method="post" th:object="${member}">
        <div class="form-group">
            <label th:for="userName">이름</label>
            <input type="text" th:field="*{userName}" class="form-control" placeholder="이름을 입력해주세요">
            <p th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="fieldError" style="color:red">Incorrect data</p>
        </div>
        <div class="form-group">
            <label th:for="userEmail">이메일주소</label>
            <input type="email" th:field="*{userEmail}" class="form-control" placeholder="이메일을 입력해주세요" disabled>
            <p th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}" class="fieldError" style="color:red">Incorrect data</p>
            <p th:text="${errorMessage}" style="color:red"></p>
        </div>
        <div class="form-group">
            <label th:for="userEmail">전화번호</label>
            <input type="text" oninput="autoHyphen2(this)" th:field="*{userTel}" class="form-control" placeholder="전화번호를 입력해주세요" maxlength="13">
            <p th:if="${#fields.hasErrors('userTel')}" th:errors="*{userTel}" class="fieldError" style="color:red">Incorrect data</p>
        </div>
        <script type="text/javascript">
            const autoHyphen2 = (target) => {
             target.value = target.value
               .replace(/[^0-9]/g, '')
              .replace(/^(\d{0,3})(\d{0,4})(\d{0,4})$/g, "$1-$2-$3").replace(/(\-{1,2})$/g, "");
            }
        </script>

        <div class="form-group">
            <label th:for="userBth">생년월일</label>
            <input type="date" th:field="*{userBth}" class="form-control" placeholder="생년월일 8자리를 입력해주세요">
            <p th:if="${#fields.hasErrors('userBth')}" th:errors="*{userBth}" class="fieldError" style="color:red">Incorrect data</p>
        </div>
        <div class="form-group">
            <label th:for="userGender">성별</label>
            <input type="radio" id="MALE" th:field="*{userGender}" th:name="userGender" th:value="MALE" disabled>
            <label for="MALE">남자</label>
            <input type="radio" id="FEMALE" th:field="*{userGender}" th:name="userGender" th:value="FEMALE" disabled>
            <label for="FEMALE">여자</label>
            <p th:if="${#fields.hasErrors('userGender')}" th:errors="*{userGender}" class="fieldError" style="color:red">Incorrect
                data</p>
        </div>
        <div class="form-group">
            <label th:for="address">주소검색</label>
            <div style="display: flex;">
                <input type="text" id="sample5_address" th:field="*{address}" class="form-control" style="margin-right: 5px;">
                <div class="pull-right" style="margin-bottom: 5px;">
                    <input type="button" onclick="sample5_execDaumPostcode()" class="btn btn-info" value="주소 검색"><br>
                </div>
            </div>
            <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="fieldError" style="color:red">Incorrect data</p>
            <div id="map" style="width:300px;height:300px;margin-top:10px;display:none"></div>
        </div>
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script th:src="@{//dapi.kakao.com/v2/maps/sdk.js?appkey=}+#{hwakey}"></script>
        <script>
            var mapContainer = document.getElementById('map'),
                mapOption = {
                    center: new daum.maps.LatLng(37.537187, 127.005476),
                    level: 5
                };

            var map = new daum.maps.Map(mapContainer, mapOption);

            var geocoder = new daum.maps.services.Geocoder();

            var marker = new daum.maps.Marker({
                position: new daum.maps.LatLng(37.537187, 127.005476),
                map: map
            });
            function sample5_execDaumPostcode() {
                new daum.Postcode({
                    oncomplete: function(data) {
                        var addr = data.address;
                        document.getElementById("sample5_address").value = addr;
                        geocoder.addressSearch(data.address, function(results, status) {
                            if (status === daum.maps.services.Status.OK) {
                                var result = results[0];
                                var coords = new daum.maps.LatLng(result.y, result.x);
                                mapContainer.style.display = "block";
                                map.relayout();
                                map.setCenter(coords);
                                marker.setPosition(coords)
                            }
                        });
                    }
                }).open();
            }
        </script>
        <div style="text-align: center">
            <button type="submit" class="btn btn-primary" style="">Submit</button>
        </div>
    </form>
</div>
<div th:replace="fragments/footer.html::footer"></div>
</body>
</html>