<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Board Form</title>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <style>
        .temp_wrapper {
            display: flex;
            flex-direction: column;
        }
        .profile_wrapper {
            display: flex;
            text-align: center;
        }
        .profile_wrapper > p {
            margin-right: 10px;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header.html::header"></div>
<div class="container">
    <h1>회원 정보</h1>
    <div th:object="${member}">
        <div class="profile_wrapper">
            <p>아이디 </p>
            <div th:text="*{userId}"></div>
        </div>
        <div class="profile_wrapper">
            <p>이름</p>
            <div th:text="*{userName}"></div>
        </div>
        <div class="profile_wrapper">
            <p>생년월일</p>
            <div th:text="*{userBth}"></div>
        </div>
        <div class="profile_wrapper">
            <p>이메일</p>
            <div th:text="*{userEmail}"></div>
        </div>
        <div class="profile_wrapper">
            <p>주소</p>
            <div th:text="*{address}"></div>
        </div>
        <div class="profile_wrapper">
            <p>전화번호</p>
            <div th:text="*{userTel}"></div>
        </div>
    </div>
    <div th:if="${type == 'petowner'}" class="temp_wrapper">
        <a th:href="@{/mypage/pet}">반려동물 조회</a>
        <a th:href="@{/mypage/pet/reservation}">예약현황 조회</a>
    </div>
    <div th:if="${type == 'petsitter'}" class="temp_wrapper">
        <a th:href="@{/mypage/petsitter}">돌봄환경 조회</a>
        <a th:href="@{/mypage/petsitter/reservation}">예약현황 조회</a>
    </div>
    <div th:if="${type == 'petowner'}" class="temp_wrapper">
        <button th:onclick="|location.href='@{/mypage(type='petsitter')}'|">펫시터 모드로 변경</button>
    </div>
    <div th:if="${type == 'petsitter'}" class="temp_wrapper">
        <button th:onclick="|location.href='@{/mypage(type='petowner')}'|">보호자 모드로 변경</button>
    </div>
</div>
<div th:replace="fragments/footer.html::footer"></div>
</body>
</html>