<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Board Form</title>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <style>
        .temp_wrapper {
            display: flex;
            flex-direction: column;
        }
        .profile_wrapper {
            display: flex;
            text-align: center;
        }
        .profile_wrapper > p {
            margin-right: 10px;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header.html::header"></div>
<div class="container">
    <div class="page-header">
        <h1>회원 정보</h1>
    </div>
    <div class="pull-right" style="width:150px;margin:10px 0;" th:if="${type == 'petowner'}">
        <a th:href="@{/mypage(type='petsitter')}" class="btn btn-primary btn-block">펫시터 모드로 변경</a>
    </div>
    <div class="pull-right" style="width:150px;margin:10px 0;" th:if="${type == 'petsitter'}">
        <a th:href="@{/mypage(type='petowner')}" class="btn btn-primary btn-block">보호자 모드로 변경</a>
    </div>
    <div id="mainHide">
        <table class="table table-hover">
            <tbody th:object="${member}">
            <tr>
                <td>
                    <p>이름</p>
                </td>
                <td>
                    <p th:text="*{userName}"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>생년월일</p>
                </td>
                <td>
                    <p th:text="*{userBth}"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>이메일</p>
                </td>
                <td>
                    <p th:text="*{userEmail}"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>주소</p>
                </td>
                <td>
                    <p th:text="*{address}"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>전화번호</p>
                </td>
                <td>
                    <p th:text="*{userTel}"></p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${type == 'petowner'}" class="text-right">
        <a type="button" class="btn btn-info" th:href="@{/mypage/pet}">반려동물 조회</a>
        <a type="button" class="btn btn-info" th:href="@{/mypage/pet/reservation}">예약현황 조회</a>
        <a type="button" class="btn btn-info" th:href="@{/mypage/chats}">채팅창 조회</a>
    </div>
    <div th:if="${type == 'petsitter'}" class="text-right">
        <a type="button" class="btn btn-info" th:href="@{/mypage/petsitter}">돌봄환경 조회</a>
        <a type="button" class="btn btn-info" th:href="@{/mypage/petsitter/reservation}">예약현황 조회</a>
        <a type="button" class="btn btn-info" th:href="@{/mypage/chats}">채팅창 조회</a>
    </div>
</div>
<div th:replace="fragments/footer.html::footer"></div>
</body>
</html>