<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form action="" method="post">
    <input type="text" th:field="${pet.petName}" placeholder="반려동물 이름">
    <div th:each="type : ${genderTypes}">
        <input type="radio" th:field="${pet.petGender}" th:value="${type}">
        <label th:text="${type}">NULL</label>
    </div>
    <select th:field="${pet.petType}">
        <option value="">==펫타입==</option>
        <option th:each="type : ${petTypes}" th:value="${type}" th:text="${type}">NULL</option>
    </select>
<!--    <div>-->
<!--        <label>펫생일</label>-->
<!--        <input type="datetime-local" th:field="${pet.petBth}">-->
<!--    </div>-->
    <div>
        <label>몸무게</label>
        <input type="number" th:field="${pet.weight}">
    </div>
    <div>
        <input type="checkbox" th:field="${pet.neutralization}">
        <label>중성화 여부</label>
    </div>
    <div>
        <input type="text" th:field="${pet.hospitalName}" placeholder="동물병원 이름">
        <input type="text" th:field="${pet.hospitalTel}" placeholder="동물병원 전화번호" maxlength="11">
        <input type="text" th:field="${pet.hospitalAdr}" placeholder="동물병원 주소">
    </div>
    <input type="text" th:field="${pet.note}" placeholder="기타 사항 입력">
    <input type="submit">
</form>
</body>
</html>