<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>펫정보</title>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <style>
        .temp_wrapper {
            display: flex;
            justify-content: space-around;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header.html::header"></div>
<div class="container">
    <div th:if="${petListEmpty}">
        <h1>아직 입력된 정보가 없어요!</h1>
        <a th:href="@{/mypage/pet/create}">등록할래요?</a>
    </div>
    <div th:unless="${petListEmpty}">
        <h1>등록된 반려동물 정보</h1>
        <div th:each="pet : ${petList}" class="temp_wrapper">
            <a th:href="@{/mypage/pet/{petId}(petId = ${pet.id})}" th:text="${pet.petName}"></a>
            <div th:text="${pet.petGender}"></div>
            <div th:text="${pet.petType}"></div>
        </div>
        <a th:href="@{/mypage/pet/create}">반려동물 정보 추가</a>
    </div>
    <a href="/">홈으로</a>
</div>
<div th:replace="fragments/footer.html::footer"></div>
</body>
</html>