<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>펫정보</title>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div th:replace="fragments/header.html::header"></div>
<div class="container">
    <div class="page-header">
        <h1>반려동물 상세정보</h1>
    </div>
    <div id="mainHide">
        <table class="table table-hover">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td>반려동물 이름</td>
                    <td th:text="${pet.petName}"></td>
                </tr>
                <tr>
                    <td>반려동물 성별</td>
                    <td th:text="${pet.petGender.description}"></td>
                </tr>
                <tr>
                    <td>반려동물 종류</td>
                    <td th:text="${pet.petType.description}"></td>
                </tr>
                <tr>
                    <td>반려동물 나이</td>
                    <td th:text="${pet.petAge}"></td>
                </tr>
                <tr>
                    <td>반려동물 몸무게</td>
                    <td th:text="${pet.weight}"></td>
                </tr>
                <tr>
                    <td>중성화 여부</td>
                    <td th:text="${pet.neutralization}"></td>
                </tr>
                <tr>
                    <td>동물병원 이름</td>
                    <td th:text="${pet.hospitalName}"></td>
                </tr>
                <tr>
                    <td>동물병원 전화번호</td>
                    <td th:text="${pet.hospitalTel}"></td>
                </tr>
                <tr>
                    <td>동물병원 주소</td>
                    <td th:text="${pet.hospitalAdr}"></td>
                </tr>
                <tr>
                    <td>기타 사항</td>
                    <td th:text="${pet.note}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
    <div style="display: flex; justify-content: center;">
        <div style="text-align: center;">
            <button type="button" th:onclick="|location.href='@{/mypage/pet/edit/{petId}(petId = ${pet.id})}'|" class="btn btn-info" style="margin-right: 5px;">수정하기</button>
        </div>
        <div style="text-align: center;">
            <form th:if="${isReserved}" th:action="@{/mypage/pet/delete/{petId}(petId = ${pet.id})}" method="post">
                <button type="submit"  class="btn btn-info">삭제하기</button>
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/footer.html::footer"></div>
</body>
</html>