<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Board Form</title>
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/header.html::header"></div>
<div class="container">
    <h1>예약 현황 조회</h1>
    <div>
        <div>승인</div>
        <div>펫정보</div>
        <div>펫시터</div>
        <div>시작 일자</div>
        <div>종료 일자</div>
        <div>비용</div>
    </div>
    <div>
        <div></div>
        <div>펫정보</div>
        <div th:text="${}"></div>
        <div th:text="${}"></div>
        <div th:text="${}"></div>
    </div>
</div>
<div th:replace="fragments/footer.html::footer"></div>
</body>
</html>