<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>예약 현황</title>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <style>
        .temp_wrapper {
            display: flex;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header.html::header"></div>
<div class="container">
    <h1>예약 현황 조회</h1>
    <div th:if="${reservationEmpty}">예약 정보가 없어요!</div>
    <div th:each="reservation : ${reservationList}" class="temp_wrapper">
        <div th:if="${reservation.refusal}">예약 거절</div>
        <div th:unless="${reservation.refusal}">
            <div th:if="${reservation.approval}">예약 확정</div>
            <div th:unless="${reservation.approval}">예약 대기</div>
        </div>
        <a th:href="@{/mypage/reservation/{reservationId}(reservationId = ${reservation.id})}">
            <div>펫이름 </div>
            <div th:text="${reservation.pet.petName}"></div>
            <div>시작 일자 </div>
            <div th:text="${reservation.startDate}"></div>
            <div>종료 일자 </div>
            <div th:text="${reservation.endDate}"></div>
            <div>비용 </div>
            <div th:text="${reservation.fee}"></div>
        </a>
        <div th:unless="${reservation.refusal}">
            <div th:unless="${reservation.approval}">
                <a th:href="@{/mypage/reservation/approval/{reservationId}(reservationId = ${reservation.id})}">예약 승인</a>
            </div>
            <div th:unless="${reservation.approval}">
                <a th:href="@{/mypage/reservation/refuse/{reservationId}(reservationId = ${reservation.id})}">예약 거절</a>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer.html::footer"></div>
</body>
</html>