<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>펫시터</title>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
        .wrapper {
            display: flex;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header.html::header"></div>
<div class="container">
<form action="" method="post" th:object="${petSitter}" enctype="multipart/form-data">
    <div class="form-group">
        <label th:for="*{title}">자기소개 타이틀</label>
        <input type="text" th:field="*{title}" class="form-control">
        <div class="field-error" th:errors="${petSitter.title}">error</div>
    </div>
    <div class="form-group">
        <label th:for="*{selfIntroduction}">자기소개</label>
        <input type="text" th:field="*{selfIntroduction}" class="form-control">
        <div class="field-error" th:errors="${petSitter.selfIntroduction}">error</div>
    </div>
    <div class="form-group">
        <label th:for="file">돌봄환경 사진 1</label>
        <input type="file" name="files" multiple="multiple" required>
    </div>
    <div class="form-group">
        <label th:for="file">돌봄환경 사진 2</label>
        <input type="file" name="files" multiple="multiple">
    </div>
    <div class="form-group">
        <label th:for="file">돌봄환경 사진 3</label>
        <input type="file" name="files" multiple="multiple">
    </div>
    <div class="form-group">
        <label th:for="${feeList.smallDogFee}">소형견 요금</label>
        <input type="number" th:field="${feeList.smallDogFee}" class="form-control">
    </div>
    <div class="form-group">
        <label th:for="${feeList.middleDogFee}">중형견 요금</label>
        <input type="number" th:field="${feeList.middleDogFee}" class="form-control">
    </div>
    <div class="form-group">
        <label th:for="${feeList.largeDogFee}">대형견 요금</label>
        <input type="number" th:field="${feeList.largeDogFee}" class="form-control">
    </div>
    <div class="form-group">
        <label th:for="${feeList.catFee}">고양이 요금</label>
        <input type="number" th:field="${feeList.catFee}" class="form-control">
    </div>
    <div class="form-group">
        <label th:for="${feeList.etcFee}">기타동물 요금</label>
        <input type="number" th:field="${feeList.etcFee}" class="form-control">
    </div>
    <div class="form-group">
        <h4>이용 가능 요일 선택(다중 선택 가능)</h4>
        <div th:each="workingDay : ${workingDayList}">
            <input type="checkbox" th:field="*{workingDay}" th:value="${workingDay}">
            <label th:for="${#ids.prev('workingDay')}" th:text="${workingDay}"></label>
        </div>
    </div>
    <div class="form-group">
        <h4>이용 가능 서비스 선택(다중 선택 가능)</h4>
        <div th:each="ableService : ${ableServiceList}">
            <input type="checkbox" th:field="*{ableService}" th:value="${ableService}">
            <label th:for="${#ids.prev('ableService')}" th:text="${ableService}"></label>
        </div>
    </div>
    <div class="form-group">
        <h4>자격증 선택(다중 선택 가능)</h4>
        <div th:each="certificate : ${certificateList}">
            <input type="checkbox" th:field="*{certificate}" th:value="${certificate}">
            <label th:for="${#ids.prev('certificate')}" th:text="${certificate}"></label>
        </div>
    </div>
    <div class="form-group">
        <label th:for="*{workingArea}">주소검색</label>
        <div style="display: flex;">
            <input type="text" id="sample5_address" th:field="*{workingArea}" class="form-control" style="margin-right: 5px;">
            <div class="pull-right" style="margin-bottom: 5px;">
                <input type="button" onclick="sample5_execDaumPostcode()" class="btn btn-info" value="주소 검색">
            </div>
        </div>
        <div class="field-error" th:errors="${petSitter.workingArea}">error</div>
        <div id="map" style="width:300px;height:300px;margin-top:10px;display:none"></div>
    </div>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="@{//dapi.kakao.com/v2/maps/sdk.js?appkey=}+#{hwakey}"></script>
    <script>
        var mapContainer = document.getElementById('map'),
            mapOption = {
                center: new daum.maps.LatLng(37.537187, 127.005476),
                level: 5
            };

        var map = new daum.maps.Map(mapContainer, mapOption);
        var geocoder = new daum.maps.services.Geocoder();
        var marker = new daum.maps.Marker({
            position: new daum.maps.LatLng(37.537187, 127.005476),
            map: map
        });


        function sample5_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    var addr = data.address;

                    document.getElementById("sample5_address").value = addr;
                    geocoder.addressSearch(data.address, function(results, status) {
                        if (status === daum.maps.services.Status.OK) {

                            var result = results[0];

                            var coords = new daum.maps.LatLng(result.y, result.x);
                            mapContainer.style.display = "block";
                            map.relayout();
                            map.setCenter(coords);
                            marker.setPosition(coords)
                        }
                    });
                }
            }).open();
        }
    </script>
    <div style="display: flex; justify-content: center;">
        <input class="btn btn-primary btn-center" type="submit">
    </div>
</form>
</div>
<div th:replace="fragments/footer.html::footer"></div>
</body>
</html>