<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>펫시터</title>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <style>
        .temp_wrapper {
            display: flex;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header.html::header"></div>
<div class="container">
<div th:if="${petSitterEmpty}">
    <h1>아직 입력된 정보가 없어요!</h1>
    <a th:href="@{/mypage/petsitter/create}">등록할래요?</a>
</div>
<div th:unless="${petSitterEmpty}" th:object="${petSitter}">
    <div class="page-header">
        <h1 th:text="*{title}"></h1>
    </div>
    <div id="mainHide">
        <table class="table table-hover">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td>자기소개</td>
                    <td th:text="*{selfIntroduction}"></td>
                </tr>
                <tr>
                    <td>소형견 이용 요금</td>
                    <td th:text="*{feeList.smallDogFee}"></td>
                </tr>
                <tr>
                    <td>중형견 이용 요금</td>
                    <td th:text="*{feeList.middleDogFee}"></td>
                </tr>
                <tr>
                    <td>대형견 이용 요금</td>
                    <td th:text="*{feeList.largeDogFee}"></td>
                </tr>
                <tr>
                    <td>고양이 이용 요금</td>
                    <td th:text="*{feeList.catFee}"></td>
                </tr>
                <tr>
                    <td>기타 동물 이용 요금</td>
                    <td th:text="*{feeList.etcFee}"></td>
                </tr>
                <tr>
                    <td>근무지</td>
                    <td th:text="*{workingArea}"></td>
                </tr>
                <tr>
                    <td>이용 가능 요일</td>
                    <td>
                        <p th:each="w : *{workingDay}" th:text="${w}"></p>
                    </td>
                </tr>
                <tr>
                    <td>이용 가능 서비스</td>
                    <td>
                        <p th:each="a : *{ableService}" th:text="${a}"></p>
                    </td>
                </tr>
                <tr>
                    <td>자격증</td>
                    <td>
                        <p th:each="c : *{certificate}" th:text="${c}"></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="display: flex; justify-content: center;">
        <a th:href="@{/mypage/petsitter/edit}" class="btn btn-info">수정하기</a>
    </div>
</div>
</div>
<div th:replace="fragments/footer.html::footer"></div>
</body>
</html>