<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>예약 현황</title>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <style>
        .temp_wrapper {
            display: flex;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header.html::header"></div>
<div class="container">
    <div class="page-header">
        <h1>예약 현황 조회</h1>
    </div>
    <div id="mainHide">
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="col-md-1">예약 현황</th>
                <th class="col-md-1">반려동물 이름</th>
                <th class="col-md-1">시작일</th>
                <th class="col-md-1">종료일</th>
                <th class="col-md-1">요금</th>
                <th class="col-md-1"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="reservation : ${reservationList}">
                <td>
                    <div th:if="${reservation.refusal}">예약 거절</div>
                    <div th:unless="${reservation.refusal}">
                        <div th:if="${reservation.approval}">예약 확정</div>
                        <div th:unless="${reservation.approval}">예약 대기</div>
                    </div>
                </td>
                <td th:onclick="|location.href='@{/mypage/reservation/{reservationId}(reservationId = ${reservation.id})}'|">
                        <p th:text="${reservation.pet.petName}"></p>
                </td>
                <td th:onclick="|location.href='@{/mypage/reservation/{reservationId}(reservationId = ${reservation.id})}'|">
                    <p th:text="${reservation.startDate}"></p>
                </td>
                <td th:onclick="|location.href='@{/mypage/reservation/{reservationId}(reservationId = ${reservation.id})}'|">
                    <p th:text="${reservation.endDate}"></p>
                </td>
                <td th:onclick="|location.href='@{/mypage/reservation/{reservationId}(reservationId = ${reservation.id})}'|">
                    <p th:text="${reservation.fee}"></p>
                </td>
                <td>
                    <div th:unless="${reservation.refusal}">
                        <a th:unless="${reservation.approval}" th:href="@{/mypage/reservation/cancel/{reservationId}(reservationId = ${reservation.id})}">예약 취소</a>
                </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:replace="fragments/footer.html::footer"></div>
</body>
</html>