<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>예약 조회</title>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div th:replace="fragments/header.html::header"></div>
<div class="container">
    <div class="page-header">
        <h1>예약 상세 보기</h1>
    </div>
    <div id="mainHide">
        <table class="table table-hover">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td>보호자 이름</td>
                    <td th:text="${petOwnerName}"></td>
                </tr>
                <tr>
                    <td>펫시터 이름</td>
                    <td th:text="${petSitterName}"></td>
                </tr>
                <tr>
                    <td>펫 이름</td>
                    <td th:text="${reservation.pet.petName}"></td>
                </tr>
                <tr>
                    <td>예약 시작 일자</td>
                    <td th:text="${reservation.startDate}"></td>
                </tr>
                <tr>
                    <td>예약 종료 일자</td>
                    <td th:text="${reservation.endDate}"></td>
                </tr>
                <tr>
                    <td>요금</td>
                    <td th:text="${reservation.fee}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="page-header">
        <h3>반려동물 상세정보</h3>
    </div>
    <div id="mainHide">
        <table class="table table-hover">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td>반려동물 성별</td>
                    <td th:text="${reservation.pet.petGender.description}"></td>
                </tr>
                <tr>
                    <td>반려동물 종류</td>
                    <td th:text="${reservation.pet.petType.description}"></td>
                </tr>
                <tr>
                    <td>반려동물 나이</td>
                    <td th:text="${reservation.pet.petAge}"></td>
                </tr>
                <tr>
                    <td>반려동물 몸무게</td>
                    <td th:text="${reservation.pet.weight}"></td>
                </tr>
                <tr>
                    <td>중성화 여부</td>
                    <td th:text="${reservation.pet.neutralization}"></td>
                </tr>
                <tr>
                    <td>동물병원 이름</td>
                    <td th:text="${reservation.pet.hospitalName}"></td>
                </tr>
                <tr>
                    <td>동물병원 전화번호</td>
                    <td th:text="${reservation.pet.hospitalTel}"></td>
                </tr>
                <tr>
                    <td>동물병원 주소</td>
                    <td th:text="${reservation.pet.hospitalAdr}"></td>
                </tr>
                <tr>
                    <td>기타 사항</td>
                    <td th:text="${reservation.pet.note}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:replace="fragments/footer.html::footer"></div>
</body>
</html>