<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Board Form</title>
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<div th:replace="fragments/header.html::header"></div>
<div class="container">
    <h1>아직 입력된 정보가 없어요!</h1>
    <a th:href="@{/mypage/{memberId}/petowner/edit(memberId = ${memberId})}">등록할래요?</a>
</div>
<div th:replace="fragments/footer.html::footer"></div>
</body>
</html>