<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Board Form</title>
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<!--header-->
<div th:fragment="header">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container nav_container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand" style="text-decoration:none;">
                    <img th:src="@{/images/icons/Home.png}" class="img-rounded" style="display:inline-block;height:100%;margin-right:5px" />
                    <span style="vertical-align:middle;">Petching</span>
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item" th:classappend="${menu} == 'home'? 'active'">
                        <a class="nav-link" href="#" th:href="@{/}">홈</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a class="nav-link" th:href="@{/members/join}">회원가입</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a class="nav-link" th:href="@{/members/login}">로그인</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_USER')">
                        <a class="nav-link" th:href="@{/matching/list}">펫시터 찾기</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_USER')">
                        <a class="nav-link"th:href="@{/board/list}">커뮤니티</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_USER')">
                        <a class="nav-link"th:href="@{/qna}">고객센터</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_USER')">
                        <a class="nav-link"th:href="@{/mypage(type='petowner')}">마이페이지</a>


                    <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                        <a class="nav-link" th:href="@{/matching/list}">펫시터 찾기</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                        <a class="nav-link"th:href="@{/board/list}">커뮤니티</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                        <a class="nav-link"th:href="@{/qna}">고객센터</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                        <a class="nav-link"th:href="@{/admin/members}">관리자</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link"th:href="@{/logout}">로그아웃</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!--/header-->
</html>