<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!--    <link href="/css/details.css" th:href="@{/css/details.css}" rel="stylesheet">-->
<!--    <script type="text/javascript" src="/js/details.js" th:src="@{/js/details}"></script>-->

<!--    로컬 테스트용-->
        <link href="../static/css/details.css" rel="stylesheet">
        <script type="text/javascript" src="../static/js/details.js"></script>

</head>
<body>
<div class="container" th:object="${petSitter}">
    <div class="item images">
        이미지
        <div class="slider">
            <input type="radio" name="slide" id="slide1" checked>
            <input type="radio" name="slide" id="slide2">
            <input type="radio" name="slide" id="slide3">
            <input type="radio" name="slide" id="slide4">
            <ul id="imgholder" class="imgs">
<!--                <li><img src="/images/memberImages/2/pet/pt_2_00.jpg"></li>-->
<!--                <li><img src="/images/memberImages/2/petSitter/ps_2_00.jpg"></li>-->
<!--                <li><img src="/images/memberImages/2/petSitter/ps_2_01.jpg"></li>-->
<!--                <li><img src="/images/memberImages/2/petSitter/ps_2_02.jpg"></li>-->
                <li><img src="../static/images/memberImages/2/pet/pt_2_00.jpg"></li>
                <li><img src="../static/images/memberImages/2/petSitter/ps_2_00.jpg"></li>
                <li><img src="../static/images/memberImages/2/petSitter/ps_2_01.jpg"></li>
                <li><img src="../static/images/memberImages/2/petSitter/ps_2_02.jpg"></li>
            </ul>
            <div class="bullets">
                <label for="slide1">&nbsp;</label>
                <label for="slide2">&nbsp;</label>
                <label for="slide3">&nbsp;</label>
                <label for="slide4">&nbsp;</label>
            </div>
        </div>
    </div>
    <div class="item petsitter_name">
<!--        주소-->
        <div id="address01"></div>

        <div th:text="${petSitterMember.userName}">~~ 님을 소개합니다.</div>
    </div>
    <div class="item introduce">
        <div class="text_box" th:text="*{selfIntroduction}">여기는 자기소개~</div>
    </div>
    <div class="item certifi">
        <strong>자격증 보유 내역</strong>
<!--        <ul>-->
<!--            <li th:each="certificate : *{#strings.arraySplit(certificate,' ')}">-->
<!--                <p th:text="${certificate}">여기에 자격증 나와요~-->
<!--            </li>-->
<!--        </ul>-->
    </div>
    <div class="item services">
        <strong>이용 가능 서비스</strong>
<!--        <ul>-->
<!--            <li th:each="ableService : *{#strings.arraySplit(ableService,' ')}">-->
<!--                <p th:text="${ableService}"> 여기는 이용가능 서비스-->
<!--            </li>-->
<!--        </ul>-->
    </div>
    <div class="item buttonBox">
        <div th:if="(${petSitterMember.id}==${loginMember.id})">
            <button type="button" th:onclick="|location.href='@{/mypage/petsitter/edit}'|">수정하기</button>
        </div>
        <div th:unless="(${petSitterMember.id}==${loginMember.id})">
            <button type="button"
                    th:onclick="|location.href='@{/matching/profile/reservation/{petSitterMember_id}(petSitterMember_id=${petSitterMember.id})}'|">예약하러가기
            </button>
            </br>
            <button type="button"
                    th:onclick="|location.href='@{/chat/{petSitterId}(petSitterId = ${petSitterMember.id})}'|">채팅하기
            </button>
        </div>
    </div>
    <div class="item feeList">
        <strong>이용 요금</strong>
<!--        <div th:text="*{fee}"></div>-->
    </div>
    <div class="item workingTime">
        <strong>예약 가능 날짜</strong>
<!--        <div th:text="*{workingTime}"></div>-->
    </div>
    <div class="item workingArea">
        <strong>예약 가능 지역</strong>
        <div id="address02"></div>
        <div class="item maps">
            <div id="map" style="width:250px;height:200px;"> 맵보여주는곳</div>
        </div>
    </div>

</div>
<script th:inline="javascript" th:src="@{//dapi.kakao.com/v2/maps/sdk.js?appkey=}+#{appkey}+@{&libraries=services}"></script>
<script th:inline="javascript" th:src="@{/js/details.js}"></script>
<script>
        let address = "[[${petSitter.workingArea}]]";
        showMap(address, 20);
        document.getElementById('address01').innerHTML = splitAddress(address);
        document.getElementById('address02').innerHTML = splitAddress(address);
</script>
</body>
</html>