<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<sec:authorize access="isAuthenticated()">
    <sec:authentication property="principal" var="principal"/>
</sec:authorize>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PETCHING</title>
    <link rel="icon" th:href="@{/images/icon.png}" />
    <link rel="stylesheet" href="https://use.typekit.net/pwu2psf.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <link rel="stylesheet" th:href="@{/css/base.css}" />    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
<div th:replace="fragments/header::header"></div>
<div class="container-fluid"><!-- 웹퍼블리싱 김혜리, 김선화-->
    <div id="header">
        <div id="sns">
            <a href="https://github.com/Pet-ching"><img th:src="@{/images/icons/GitHub.png}" style="width:20px; height:20px;"></a>
            <a href="https://2cleanwater.notion.site/Pet-ching-2d0aeb3f61764f64be6da393b780507d"><img th:src="@{/images/icons/Notion.png}" style="width:20px; height:20px;"></a>
            <a href="https://app.gather.town/app/BnwqlS74tZnrubQz/Petching-Office"><img th:src="@{/images/icons/Gather.png}" style="width:20px; height:20px;"></a>
<!--            <input type="checkbox" id="searchtab" checked>-->
<!--            <label for="searchtab" class="tab"></label>-->
<!--            <input type="text" id="search" placeholder="검색하기..">-->
<!--            <label for="search" class="searchbox"></label>-->
        </div>
        <div id="mainview">
            <h1 class="maintxt">Trust, faith, love..<br>
                Meet the Petsitter</h1>
            <div class="viewtab">
                <a href="#"><p>만나러 가기</p></a>
            </div>
            <img src="/img/first.jpg">
        </div>


<p sec:authorize="isAnonymous()">Click <a th:href="@{/members/join}">회원가입</a> to see a greeting.</p>
<p sec:authorize="isAnonymous()">Click <a th:href="@{/members/login}">로그인</a> to see a greeting.</p>
<p sec:authorize="isAuthenticated()">Click <a th:href="@{/logout}">로그아웃</a> to see a greeting.</p>
<a th:href="@{/matching/list}">matching</a>
<a th:href="@{/board/list}">board</a>
<a th:href="@{/qna}">qna</a><br>
<a th:href="@{/mypage(type='petowner')}">mypage</a>
</div>

    </div>
    <section>
        <div id="menu-1">
            <div class="coldbrew">
            </div>
            <div class="handdrip"></div>
            <div class="coldbrewtxt">
                <h2>I take care of her every day</h2>
                <p>Don't worry about your work being late</p>
                <div class="viewtab">
                    <a href="#"><p>보러가기</p></a>
                </div>
            </div>
        </div>

        <div id="identity">
            <div class="identitytxt">
                <h2>originality</h2>
                <p class="smalltxt">펫칭은 정직함과 신뢰를 중시합니다</p>
                <p class="engtxt">“You, my precious family,
                    The heart that always trusts and waits for me,
                    I want to protect you with responsibility.
                    I know how you feel. petchig"</p>
                <div class="viewtab">
                    <a href="#"><p>보러가기</p></a></div>
            </div>
            <div class="bigtxt">
            </div>
        </div>


        <div id="cafe">
            <div class="cafeimg">
                <img src="/img/sponsor.jpg">
            </div>
            <div class="cafetxt">
                <h2>Please support abandoned animals</h2>
                <p>유기 동물을 후원해 주세요.</p>
                <div class="viewtab">
                    <a href="https://www.animals.or.kr"><p>후원하기</p></a>
                </div>
            </div>
        </div>
    </section>
</div>



<div th:replace="fragments/footer::footer"></div>

</body>
</html>