<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Board Form</title>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<style>
    .layout {
        width: 500px;
        margin: 0 auto;
        margin-top: 40px;
    }

</style>
<body>
<div th:replace="fragments/header.html::header"></div>
<!--Todo : 원하는 서비스 조건 선택 필터링-->
<div style="display: flex; flex-direction: column; margin-top: 70px; width: 1024px;"><p
        style="font-size: 15px; font-weight: 600; color: rgb(57, 60, 71); margin-bottom: 27px; margin-left: 3px;">원하시는
    지역과
    조건을 선택하세요</p>
    <form th:action="@{/matching/list}" type="get">
        <div style="display: flex; justify-content: space-between;">
            <div style="display: flex; justify-content: space-between; width: 712px;">
                <div style="width: 150px; height: 55px; display: flex; align-items: center; justify-content: center; border: 1.5px solid rgb(223, 227, 234); border-radius: 28px; box-shadow: rgba(0, 0, 0, 0.03) 0px 2px 3px 0px; cursor: pointer;">
                    <input type="radio" name="ableService" value="퍼피"
                           style="font-size: 15px; font-weight: 600; color: rgb(187, 193, 204);">퍼피 케어</input>
                </div>
                <div style="width: 122px; height: 55px; display: flex; align-items: center; justify-content: center; border: 1.5px solid rgb(223, 227, 234); border-radius: 28px; box-shadow: rgba(0, 0, 0, 0.03) 0px 2px 3px 0px; cursor: pointer;">
                    <input type="radio" name="ableService" value="실내"
                           style="font-size: 15px; font-weight: 600; color: rgb(187, 193, 204);">실내 놀이</input></div>
                <div style="width: 136px; height: 55px; display: flex; align-items: center; justify-content: center; border: 1.5px solid rgb(223, 227, 234); border-radius: 28px; box-shadow: rgba(0, 0, 0, 0.03) 0px 2px 3px 0px; cursor: pointer;">
                    <input type="radio" name="ableService" value="응급"
                           style="font-size: 15px; font-weight: 600; color: rgb(187, 193, 204);">응급 처치</input></div>
                <div style="width: 122px; height: 55px; display: flex; align-items: center; justify-content: center; border: 1.5px solid rgb(223, 227, 234); border-radius: 28px; box-shadow: rgba(0, 0, 0, 0.03) 0px 2px 3px 0px; cursor: pointer;">
                    <input type="radio" name="ableService" value="노견"
                           style="font-size: 15px; font-weight: 600; color: rgb(187, 193, 204);">노견 케어</input></div>
                <div style="width: 122px; height: 55px; display: flex; align-items: center; justify-content: center; border: 1.5px solid rgb(223, 227, 234); border-radius: 28px; box-shadow: rgba(0, 0, 0, 0.03) 0px 2px 3px 0px; cursor: pointer;">
                    <input type="radio" name="ableService" value="픽업"
                           style="font-size: 15px; font-weight: 600; color: rgb(187, 193, 204);">집압 픽업</input></div>
                <div style="width: 122px; height: 55px; display: flex; align-items: center; justify-content: center; border: 1.5px solid rgb(223, 227, 234); border-radius: 28px; box-shadow: rgba(0, 0, 0, 0.03) 0px 2px 3px 0px; cursor: pointer;">
                    <input type="radio" name="ableService" value="산책"
                           style="font-size: 15px; font-weight: 600; color: rgb(187, 193, 204);">매일 산책</input></div>
                <div style="width: 122px; height: 55px; display: flex; align-items: center; justify-content: center; border: 1.5px solid rgb(223, 227, 234); border-radius: 28px; box-shadow: rgba(0, 0, 0, 0.03) 0px 2px 3px 0px; cursor: pointer;">
                    <input type="radio" name="ableService" value="약물"
                           style="font-size: 15px; font-weight: 600; color: rgb(187, 193, 204);">약물 복용</input></div>
                <div style="width: 122px; height: 55px; display: flex; align-items: center; justify-content: center; border: 1.5px solid rgb(223, 227, 234); border-radius: 28px; box-shadow: rgba(0, 0, 0, 0.03) 0px 2px 3px 0px; cursor: pointer;">
                    <input type="radio" name="ableService" value="장기"
                           style="font-size: 15px; font-weight: 600; color: rgb(187, 193, 204);">장기 예약</input></div>
                <div style="width: 122px; height: 55px; display: flex; align-items: center; justify-content: center; border: 1.5px solid rgb(223, 227, 234); border-radius: 28px; box-shadow: rgba(0, 0, 0, 0.03) 0px 2px 3px 0px; cursor: pointer;">
                    <input type="radio" name="ableService" value="목욕"
                           style="font-size: 15px; font-weight: 600; color: rgb(187, 193, 204);">목욕 가능</input></div>
                <div style="width: 122px; height: 55px; display: flex; align-items: center; justify-content: center; border: 1.5px solid rgb(223, 227, 234); border-radius: 28px; box-shadow: rgba(0, 0, 0, 0.03) 0px 2px 3px 0px; cursor: pointer;">
                    <input type="radio" name="ableService" value="모발"
                           style="font-size: 15px; font-weight: 600; color: rgb(187, 193, 204);">모발 관리</input></div>
            </div>
        </div>
        <input type="text" name="searchKeyword" placeholder="지역을 입력하세요">
        <button type="submit">검색</button>
    </form>
</div>

<!--전체 펫시터 출력하기 : 검색을 할 경우 안 보이게 표시-->
<div class="layout">
    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>자기소개</th>
            <th>근무지</th>
            <th>이용가능 서비스</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sitter : ${list}">
            <!--                <a th:href="@{/matching/details(id=${sitter.id})}">-->
            <div th:onclick="|location.href='@{/matching/details(id=${sitter.id})}'|">
                상세페이지 이동
                <td th:text="${sitter.id}">1</td>
                <td th:text="${sitter.selfIntroduction}">자기소개.</td>
                <td th:text="${sitter.workingArea}">근무지</td>
                <td th:text="${sitter.ableService}">이용서비스</td>
                <!--                <td th:text="${sitter.fee}">요금</td>-->
                <!--                <td th:text="${sitter.certificate}">자격증</td>-->
                <!--                <td th:text="${sitter.workingTime}">근무시간</td>-->

                <!--                <span th:each="i : ${sitter.ableService}">-->
                <!--                <td th:text="|${i}|">이용서비스</td>-->
                <!--                </span>-->
            </div>
        </tr>
        </tbody>
    </table>

    <!--페이징 처리-->
    <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
        <a th:if="${page != nowPage}"
           th:href="@{/matching/list(page = ${page -1}, searchKeyword = ${param.searchKeyword}, ableService = ${param.ableService})}"
           th:text="${page}"></a>
        <strong th:if="${page == nowPage}" th:text="${page}" style="color:red"></strong>
    </th:block>
</div>
<div th:replace="fragments/footer.html::footer"></div>
</body>
</html>