<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            width: 90%;
            margin: 100px auto;
        }
        .wrapper {
            display: flex;
        }
        .text_box {
            width: 50%;
        }
        .test{
            border: 1px solid black;
        }

    </style>

</head>
<body>
<div class="wrapper" th:object="${petSitter}">
    <div>
        <!-- image -->
        <div th:text="*{workingArea}"></div>
        <div th:text="*{userId}">님을 소개합니다.</div>
        <button type="button" th:onclick="|location.href='@{/matching/profile/reservation}'|">예약하러가기</button>
        <div class="text_box" th:text="*{selfIntroduction}"></div>
        <strong>자격증 보유 내역</strong>
        <div th:text="*{certificate}"></div>
        <strong>이용 가능 서비스</strong>
        <div th:text="*{ableService}"></div>
    </div>
    <div>
        <strong>이용 요금</strong>
        <div th:text="*{fee}"></div>
        <strong>예약 가능 날짜</strong>
        <div th:text="*{workingTime}"></div>
        <strong>예약 가능 지역</strong>
        <div th:text="*{workingArea}"></div>
    </div>
</div>
</body>
</html>