<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Board Form</title>
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<script>
    function submitSuc(){
        alert("예약이 성공적으로 완료되었습니다");
    }
</script>
<body>
<div th:replace="fragments/header.html::header"></div>
    <div class="container">
        <h1>예약 정보</h1>
        <form th:action="@{/matching/profile/reservation/match}" method="POST" onsubmit="submitSuc();">
            <div>
                <label >펫 이름</label>
                <label >펫시터 이름</label>
<!--                ToDo : db와 연결된 이름 -->

            </div>
            <div>
                <label>시작 날짜</label>
                <input type="datetime-local" name="startDate">
            </div>
            <div>
                <label> 종료 날짜 </label>
                <input type="datetime-local" name="endDate">
            </div>
            <div>
                <label>요금</label>
                <input type="number" name="fee">원
            </div>
            <button type="submit">예약 확정</button>
        </form>
    </div>
<div th:replace="fragments/footer.html::footer"></div>
</body>
</html>