<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>탈퇴 페이지</title>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/withdrawal.css}"/>

</head>
<body>
<div th:replace="fragments/header.html::header"></div>
<div class="container">
<div class="withdrawal-div shadow p-3 mb-5 bg-body rounded vw-100">

    <div class="alert-message p-3 mb-2 bg-dark text-white">
    <p>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16" style="font-size:20px">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg>
        탈퇴 안내
        회원탈퇴를 진행하기 전에 안내 사항을 꼭 확인해주세요.
    </p>
    </div>

    <br>

    <div class="message-content">
    사용하고 계신 아이디(<span th:text="${member.userEmail}"
                      style="font-weight:bold; color:gray; text-decoration:underline"></span>)는 <b style="color:red">탈퇴할
    경우 게시글 등 회원의 모든 정보는 복구가 불가능</b>합니다.</p><br><br>


        <div class="content">
    <p>탈퇴 후에는 현재 모든 서비스는 모두 종료됩니다.
        뉴스, 카페, 지식iN 등에 올린 게시글 및 댓글은 탈퇴 시 자동 삭제됩니다.
        탈퇴 후에는 회원정보가 삭제되어 본인 여부를 확인할 수 있는 방법이 없어, 별도 문의에 응할 수 없습니다.
        탈퇴 시 즉시 탈퇴되어 더 이상 정보를 불러올 수 없으니 신중하게 결정하시길 바랍니다.</p>
        </div>
    </div>
    <!--TODO: 현재 권한이 있는 상태, 따라서 탈퇴하고 submit으로 넘길 때 권한을 kill 해야함-->
    <div class="button-box">
    <form action="/members/withdrawaldo" role="form" method="post">
        <button class="btn btn-danger" type="submit">탈퇴하기</button>
    </form>
    </div>
    <!--<a href="members/with">탈퇴하기</a>-->
</div>
</div>
<div th:replace="fragments/footer.html::footer"></div>
</body>
</html>