<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>자주 찾는 질문</title>
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/famous.css}" />
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script>
        $(document).ready(function ()
            {
                $('.drawer1').click(function () { $('.drawer-menu1').slideToggle('slow'); });
                $('.drawer2').click(function () { $('.drawer-menu2').slideToggle('slow'); });
                $('.drawer3').click(function () { $('.drawer-menu3').slideToggle('slow'); });
                $('.drawer4').click(function () { $('.drawer-menu4').slideToggle('slow'); });
                $('.drawer5').click(function () { $('.drawer-menu5').slideToggle('slow'); });
            }
        )
     </script>
</head>
<body>
    <!--header-->
    <div th:replace="fragments/header.html::header"></div>
    <!--/header-->

    <!--body-->
    <div class="container">
        <div class="page-header">
            <h1>자주 찾는 질문</h1>
        </div>

        <div class="drawer1  btn btn-primary btn-block">
            <h4>펫시터분들은 믿을 수 있나요?</h4>
            <div class="drawer-menu1">
                펫칭 자체의 신원 검증 및 교육을 수료한 분들만이 메이터로 활동하고 있습니다!
                <br>또한 모든 메이터 분들은 "신분증" 및 "비밀유지 서약서" 작성을 통한 지속적인 관리를 하고 있습니다:)</p>
            </div>
        </div>
        <div class="drawer2  btn btn-primary btn-block">
            <h4>예약 변경, 취소를 하고 싶어요</h4>
            <div class="drawer-menu2">
                - 요청 방법
                <br>카카오톡 고객센터
                <br> - 패널티
                <br>일정 변경 : 무료
                <br> 예약 당일 취소 : 5,000원
                <br>1일 전 : 무료
            </div>
        </div>
        <div class="drawer3  btn btn-primary btn-block">
            <h4>예약을 했는데 언제 연락이 오나요?</h4>
            <div class="drawer-menu3">
                펫시터님 배정 및 상세일정 안내를 위해 3시간 이내로 연락을 드릴 예정이랍니다 😊
               <br>시간이 초과되어 연락이 늦어진다면, 펫칭 고객센터를 통해 연락을 주시면 확인 후 신속히 처리해 드릴게요 😊
            </div>
        </div>
        <div class="drawer4  btn btn-primary btn-block">
            <h4>제가 입력한 정보가 유출되지 않을까요?</h4>
            <div class="drawer-menu4">
                고객님이 예약시 입력한 모든 정보는 암호화 되어있으며,
                <br>정보를 알고 있는 메이트 님은 "비밀유지 서약서"를 작성하여 고객님의 소중한 정보가 유출되지 않도록 조치를 취하고 있으니 걱정하지 않으셔도 된답니다😊
            </div>
        </div>
        <div class="drawer5  btn btn-primary btn-block">
            <h4>서비스 이용 요금이 궁금해요</h4>
            <div class="drawer-menu5">
                [픽업 서비스]
                <br>기본요금 7,000원
                <br> 1KM당 700원

                <br><br>[돌봄 서비스]
                <br>데이케어 : 최대 8시간 20,000원
                <br>1박케어 : 최대 24시간 40,000원
                <br>1박 이상 : 고객센터를 통해 문의 부탁드려요 :)

                <br><br>* [주말 및 공휴일]
                <br>추가요금 없음
            </div>
        </div>
    </div>

    <!--body-->

    <!--footer-->
    <div th:replace="fragments/footer::footer"></div>
    <!--/footer-->
    <div style="height:100px;"></div>



</body>
</html>