<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>고객센터 문의글 쓰기</title>
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

    <script type="text/javascript">
    function Check(){
        var title = document.getElementById("board_title");
        var content = document.getElementById("board_content");
        var boardType = document.getElementById("board_type");
        var id = document.getElementById("board_id");


        if (boardType.value == "")
        {
           alert("게시판을 선택 해주세요");
           return false;
        }
       if(!title.value ) {
           alert("제목에 글자를 입력 해주세요");
           title.focus();
           return false;
       }
       if(!content.value ) {
           alert("내용에 글자를 입력 해주세요");
           content.focus();
           return false;
       }
   }
    </script>


</head>
<body>
<!--header-->
<div th:replace="fragments/header.html::header"></div>
<!--/header-->

<div class="container">
    <div class="page-header">
        <h1>게시글 등록</h1>
    </div>
    <br/>
    <input id="board_id" type="hidden" th:value="${board?.id}"/>
    <input id="board_create_date" type="hidden" th:value="${board?.regDate}"/>

    <table class="table">
        <tr>
            <th style="padding:13px 0 0 15px">게시판 선택</th>
            <td>
                <div class="pull-left">
                    <select class="form-control input-sm" id="board_type">
                        <option value="">--분류--</option>
                        <option th:value="QnA문의1" th:selected="${board?.boardType}">문의 종류1</option>
                        <option th:value="QnA문의2" th:selected="${board?.boardType}">문의 종류2</option>
                        <option th:value="QnA문의3" th:selected="${board?.boardType}">문의 종류3</option>
                    </select>
                </div>
            </td>
        </tr>

        <tr>
            <th style="padding:13px 0 0 15px;">제목</th>
            <td><input id="board_title" type="text" class="col-md-1 form-control input-sm" placeholder="공백으로만 입력하실 수 없습니다, 20자까지 입력 가능" th:value="${board?.title}"/></td>
        </tr>

        <tr>
            <th style="padding:13px 0 0 15px;">내용</th>
                <td><textarea id="board_content" class="col-md-1 form-control input-sm" rows="7" style="height: 200px;"
                              placeholder="255자까지 입력 가능"  th:text="${board?.content}"></textarea><span class="help-block"></span>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </table>
    <div class="pull-left">
        <a href="/qna/ask" class="btn btn-default">목록으로</a>
    </div>
    <div class="pull-right">
        <button onclick="Check()" th:if="!${board?.id}" type="button" class="btn btn-primary" id="insert">저장</button>
        <button onclick="Check()" th:if="${board?.id}" type="button" class="btn btn-info" id="update">수정</button>
        <button th:if="${board?.id}" type="button" class="btn btn-danger" id="delete">삭제</button>
    </div>
</div>
<!--/body-->

<!--footer-->
<div th:replace="fragments/footer::footer"></div>
<!--/footer-->


<!--            var title = $('#board_title').val().replace(/(\s*)/g,'').length;-->

<script th:src="@{/js/jquery.min.js}"></script>
<script th:if="!${board?.id}">
        $('#insert').click(function () {
            var jsonData = JSON.stringify({
                title: $('#board_title').val(),
                content: $('#board_content').val(),
                boardType: $('#board_type option:selected').val()
            });
            $.ajax({
                       url: "/qna/boards",
                       type: "POST",
                       data: jsonData,
                       contentType: "application/json; charset=utf-8",
                       dataType: "json",
                           success: function () {
                               alert('저장 성공!');
                               location.href = '/qna/ask';
                       },
                       error: function () {
<!--                           alert('저장 실패!');-->
                       }
                   });
        });
    </script>
<script th:if="${board?.id}">
        $('#update').click(function () {
            var jsonData = JSON.stringify({
                title: $('#board_title').val(),
                content: $('#board_content').val(),
                boardType: $('#board_type option:selected').val(),
                regDate: $('#board_create_date').val()
            });

            $.ajax({
                       url: "/qna/boards/" + $('#board_id').val(),
                       type: "PUT",
                       data: jsonData,
                       contentType: "application/json",
                       dataType: "json",
                       success: function () {
                           alert('수정 성공!');
                           location.href = '/qna/ask';
                       },
                       error: function () {
<!--                           alert('수정 실패!');-->
                       }
                   });
        });
        $('#delete').click(function () {
            $.ajax({
                       url: "/qna/boards/" + $('#board_id').val(),
                       type: "DELETE",
                       success: function () {
                           alert('삭제 성공!');
                           location.href = '/qna/ask';
                       },
                       error: function () {
                           alert('삭제 실패!');
                       }
                   });
        });
    </script>
</body>
</html>